<footer>
  <div class="bg-accent py-4 flex justify-center">
    <div class="text-white">
      <a href="https://github.com/TillaTheHun0/astro-blog">Source Code</a> - © Copyright 2022
    </div>
  </div>
</footer>