---
import NavLink from './NavLink.astro';
---
<header class="bg-blue-600 py-2">
  <div
    class="flex justify-center content-between space-x-2 md:space-x-4 lg:space-x-4 lg:text-2xl text-white"
  >
    <div>
      <NavLink href="/blog" title="Blog Posts" active="text-blue-200">
        Posts
      </NavLink>
    </div>
    <div>
      <NavLink href="/about" title="About Me" active="text-blue-200">
        About
      </NavLink>
    </div>
  </div>

  <div class="md:flex justify-center py-8">
    <div class="p-2 my-auto">
      <img
        class="rounded-full h-48 w-48 mx-auto border-8 border-blue-400"
        src="/assets/images/tyler.jpeg"
        alt="Tyler Hall headshot rounded"
      />
    </div>
    <div class="p-8 my-auto">
      <h1 class="text-white text-3xl text-center">Tyler Hall</h1>
      <p class=" text-white text-xl text-center">Notes to my future self</p>

      <div class="flex justify-center space-around py-2 space-x-4">
        <div class="w-8">
          <a href="https://github.com/TillaTheHun0" title="GitHub">
            <img src="/assets/images/logos/github-icon.svg" alt="GitHub Icon"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>