---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<html lang="en" data-theme="fantasy">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Tyler Hall - Fullstack Web Developer</title>
    <base href="/" />

    <style is:global>
      @import "../styles/global.css";
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Tyler Hall - Web Developer, hyper Core team, Open Source Project Maintainer"
    />
    <meta
      name="keywords"
      content="Tyler Hall, Blog, JavaScript, Hyper, GraphQL, Deno, Svelte, React, ADT, Functional"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js" />  
  </head>

  <body>
    <Header />
      <main class="flex flex-grow justify-center min-h-screen p-4">
        <slot/>
      </main>
    <Footer />
  </body>
</html>